    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-cloud" style="vertical-align: middle; margin-right: 4px;"></span>CnWebs.com</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active: url == '#/'}"><a href="#/">Inicio</a></li>
            <li ng-class="{active: url == '#/blog'}"><a href="#/blog">Blog</a></li>            
            <li ng-class="{active: url == '#/precios'}"><a href="#/precios">Precios</a></li>
            <li ng-class="{active: url == '#/portafolio'}"><a href="#/portafolio">Portafolio</a></li>
            <li ng-class="{active: url == '#/equipo'}"><a href="#/equipo">Equipo</a></li>
            <li ng-class="{active: url == '#/mensajes'}" ng-show="status"><a href="#/mensajes">Mensajes</a></li>
            <li ng-show="authData.password.email == 'moises@gmail.com'"><a href="#/blog_admin">Admin</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">            
            <li ng-class="{active: url == '#/login'}">
              <a href="" ng-click="unlogin()" ng-show="status">{{authData.password.email}}, Salir?</a>
              <a href="#/login" ng-hide="status">Login</a>                    
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>