<h1 class="page-header">{{blog.titulo}} (Editar) </h1>
<form class="form-horizontal" ng-submit="editar(blog);">
	<div class="form-group">
		<label class="control-label col-lg-2">Titulo</label>
		<div class="col-lg-3">
			<input type="text" class="form-control" ng-model="blog.titulo">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-2">Categoria</label>
		<div class="col-lg-3">
			<select class="form-control" multiple="" ng-model="blog.categorias">	
				<option value="Angular Js">Angular JS</option>
				<option value="Frameworks">Frameworks</option>
				<option value="Ruby on Rails">Ruby on Rails</option>
				<option value="Tecnologia">Tecnologia</option>
				<option value="Tecnologia">Mobile</option>
				<option value="Tecnologia">Otros</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-2">Imagen</label>
		<div class="col-lg-4">
			<input type="text" class="form-control" ng-model="blog.imagen">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-2">Resumen</label>
		<div class="col-lg-5">
			<textarea class="form-control" ng-model="blog.resumen" ></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-2">Contenido</label>
		<div class="col-lg-5">
			<textarea class="form-control" rows="7" ng-model="blog.contenido"></textarea>
		</div>
	</div>
	<div class="form-group">		
		<div class="col-lg-offset-2 col-lg-3">
			<button class="btn btn-default" type="submit">Editar</button>
			<a href="#/blog_admin" class="btn btn-default">Regresar</a>
		</div>
	</div>
</form>